body {
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
	background: hsl(170, 60%, 75%);
	color: hsl(215,100%,15%);
}
h1 {
	font-size: x-large;
	font-weight: bold;
}
h2 {
	font-size: large;
	font-weight: bold;
}
h3 {
	font-size: large;
	font-weight: normal;
}
h1, h2, h3 {
	text-align: center;
}
p {
	text-indent: 1em;
}

::selection {
	color: hsl(90, 100%, 70%);
	background: hsl(200, 70%, 25%);
}
::-moz-selection {
	color: hsl(90, 100%, 70%);
	background: hsl(200, 70%, 25%);
}
a:link, a:visited {
	color: hsl(270, 80%, 50%);
}
a:hover {
	color: white;
	background: hsl(180, 50%, 25%);
}

/*テキスト本体と、右側の領域(目次とかリンク集とかに使う予定)とを分けるスタイルのとき */
div.main-text {
	position: static;
	width: 74%;
	margin-top: 3vh;
	margin-left: 2%;
	padding-left: 1em;
	padding-right: 1em;
}
div.notes {
	position: fixed; 
	top: 3vh;
	height: 94vh;
	left: 80%;
	right: 2%;
	min-width: 10%;
	overflow: auto;
	padding-left: 1em;
	padding-right: 1em;
	
	background: hsl(250,75%,85%);
	color: hsl(250,100%,15%);
	border: solid 1px hsl(300,100%,50%);
}
div.notes > ul {
	padding-left: 1ex;
	padding-right: 1ex;
}
/* 本文だけのときに使うスタイル(右側の領域を設けない場合) */
body.main-text-only {
	position: static;
	right: 95vw;
	margin-top: 3vh;
	margin-left: 2vw;
	margin-right: 2vw;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 2vh;
}

body.main-text-only nav {
	text-align: right;
}
nav.right {
	text-align: right;
}
nav ul {
	padding-left: 1em;
	margin-top: 0;
}
em {
	font-style: normal;
	background: linear-gradient(to bottom, hsl(170, 60%, 75%), hsl(170, 60%, 75%) 40%, hsl(40, 100%, 60%));
}

code {
	white-space: pre;
	display: block;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 6pt;
	padding-bottom: 6pt;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 6pt;
	margin-bottom: 6pt;
	overflow: auto;
	background: hsl(170, 40%, 15%);
	color: hsl(215,100%,85%);
	font-family: "Ricty Discord", "Ricty", "Courier New", monospace;
}
/* コメント */
code .comm {
	color: hsl(215,100%,70%);
}
/* 応答 */
code .res {
	color: hsl(170, 100%, 80%);
	font-style: italic;
}

tt {
	font-family: "Ricty Discord", "Ricty", "Courier New", monospace;
}

table, td, th {
	border-collapse: collapse;
	border: solid 1px hsl(215,100%,25%);
}
th {
	color: hsl(215,100%,45%);
	background: hsl(170, 80%, 55%);
	font-family: '筑紫B丸ゴシック', 'クレー', sans-serif;
	padding-right: 6pt;
	padding-left: 6pt;
	white-space: nowrap;
}

/*日付を右寄せで書く*/
p.date {
	text-align: right;
	font-style: italic;
	color: hsl(215,100%,25%);
}

blockquote {
	margin-left: 3em;
	border: solid 1px hsl(170,100%,30%);
	background: hsl(170, 60%, 90%);
	padding: 4pt;
}
