html {
	padding: 0;
}
body {
	background: hsl(200, 90%, 90%);
	color: hsl(240, 100%, 12%);
	padding-top: 1ex;
	padding-bottom: 2ex;
	padding-left: 0;
	padding-right: 0;
}

::selection {
	background: hsl(240, 100%, 12%);
	color: hsl(200, 90%, 75%);
}

::-moz-selection {
	background: hsl(240, 100%, 12%);
	color: hsl(200, 90%, 75%);
}

a:link {
	color: hsl(330, 100%, 50%);
}
a:visited {
	color: hsl(270, 100%, 30%);
}
a:hover {
	background: hsl(90, 100%, 12%);
	color: hsl(90, 100%, 60%);
}

div {
	overflow: auto;
}
div.center {
	max-height: 15ex;
}
div.left, div.right {
	display: inline-block;
	width: 40%;
	height: 15ex;
	vertical-align: top;
}
@media print {
	div {
		max-height: auto;
	}
}

p {
	text-indent: 1em;
}
p, ul {
	margin: 0;
}

h1 {
	font-size: x-large;
	font-style: italic;
	font-weight: bold;
	font-family: "游明朝体+36ポかな", "游明朝体", "クレー", serif;
	color: dodgerblue;
	background: lightsteelblue;
	padding-right: 1em;
	padding-left: 1em;
	text-align: right;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 0;
}
h1:lang(en) {
	font-size: small;
	font-weight: normal;
	font-family: Georgia, Baskerville, Didot, "Times New Roman", Palatino, serif;
	color: dodgerblue;
	margin-bottom: 12pt;
	margin-top: 0;
}
h1:hover {
	text-align: left;
}
div.left {
	margin-left: 5%;
	margin-right: 0;
}
div.right {
	margin-left: 5%;
}
div.center {
	display: block;
	margin-top: 4pt;
	margin-bottom: 6pt;
	width: 70%;
	margin-left: 15%;
}
.orange, .green, .blue {
	border-style: dotted;
	border-width: 6px;
	padding: 4pt;
}
.orange {
	border-color: hsl(55, 100%, 60%);
	background: hsla(35, 100%, 65%, 1.0);
	color: hsl(15, 100%, 20%);
}
.green {
	border-color: hsl(85, 100%, 70%);
	background: hsla(105, 100%, 65%, 1.0);
	color: hsl(125, 100%, 16%);
}
.blue {
	border-color: hsl(230, 80%, 70%);
	background: hsla(250, 100%, 80%, 1.0);
	color: hsl(270, 100%, 20%);
}

div.footnote {
	font-style: italic;
	border: none;
	color: black;
	background: hsla(200, 90%, 90%, 1.0);
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 6pt;
	padding: 12pt;
}
div.footnote p {
	margin-top: 6pt;
}
