html {
	padding: 0;
}
body {
	background: hsl(200, 0%, 85%);
	color: hsl(240, 100%, 12%);
	padding-top: 1ex;
	padding-bottom: 2ex;
	padding-left: 2em;
	padding-right: 2em;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto;
  grid-gap: 1em 1em;
}

header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
#ja_left {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
#ja_right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
#eng {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
footer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

::selection {
	background: hsl(240, 100%, 12%);
	color: hsl(200, 90%, 75%);
}

::-moz-selection {
	background: hsl(240, 100%, 12%);
	color: hsl(200, 90%, 75%);
}

a:link {
	color: hsl(0, 80%, 50%);
}
a:visited {
	color: hsl(220, 90%, 40%);
}
a:hover {
	background: hsl(90, 100%, 12%);
	color: hsl(90, 100%, 60%);
}

footer {
	font-style: italic;
    color: black;
}
footer p {
	margin-top: 6pt;
}

section.subsec {
  margin-bottom: 1em;
}
section.subsec > p {
	display: inline;
}
section.subsec > ul {
	display: inline;
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
section.subsec > ul > li {
	display: inline;
	margin-right: 1ex;
}
section.subsec.blue > ul > li::before {
	content: "🍒 ";
}
section.subsec.green > ul > li::before {
	content: "🍄 ";
}
section.subsec.orange > ul > li::before {
	content: "⛄️ ";
}
p {
	text-indent: 1em;
}
p, ul {
	margin: 0;
}

h1 {
	font-size: x-large;
	font-style: italic;
	font-weight: bold;
	font-family: "游明朝体+36ポかな", "游明朝体", "クレー", serif;
	color: dodgerblue;
	background: linear-gradient(to right, hsl(170, 35%, 85%), hsl(210, 10%, 85%) 35%, hsl(260, 25%, 85%) 65%, hsl(290, 15%, 85%));
	padding-right: 1em;
	padding-left: 1em;
	text-align: right;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 0;
}
h1:lang(en) {
	font-size: small;
	font-weight: normal;
	font-family: Georgia, Baskerville, Didot, "Times New Roman", Palatino, serif;
	color: dodgerblue;
	margin-bottom: 12pt;
	margin-top: 0;
}
h1:hover {
	text-align: left;
}

h2 {
	display: inline;
	margin-left: 0;
	margin-right: 1ex;
	font-size: medium;
	font-family: Skia, "筑紫B丸ゴシック", sans-serif;
	font-weight: bold;
	text-decoration: underline;
}
h2::before {
	content: "◀︎"; 
}
h2::after {
	content: "▶︎"; 
}

.orange, .green, .blue {
	border-style: dotted;
	border-width: 6px;
	padding: 4pt;
}
.orange {
	border-color: hsl(55, 100%, 60%);
	background: hsla(35, 100%, 65%, 0.4);
	color: hsl(15, 100%, 20%);
}
.green {
	border-color: hsl(85, 100%, 70%);
	background: hsla(105, 100%, 65%, 0.4);
	color: hsl(125, 100%, 16%);
}
.blue {
	border-color: hsl(230, 80%, 70%);
	background: hsla(250, 100%, 80%, 0.4);
	color: hsl(270, 100%, 20%);
}

nav {
	text-align: right;
}
nav > a {
	padding: 4pt;
}

hr {
  border: 2pt royalblue inset;
}
