#left_col {
	background-color: hsla(90, 100%, 50%, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 30pt;
	height: 100vh;
	text-align: center;
	font-size: 24pt;
	line-height: 30pt;
	margin: 0;
	padding-bottom: 30pt;
}
#main {
	background-color: hsl(50, 100%, 80%);
	color: hsl(20, 100%, 20%);
	position: fixed;
	top: 0vh;
	bottom: 15vh;
	height: 85vh;
	left: 30pt;
	right: 30pt;
	min-width: 10em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0pt;
	padding-bottom: 80pt;
	margin-bottom: 10pt;
	margin-top: 0pt;
	font-family: "游明朝体", YuMin-Medium, serif;
	overflow: auto;
}
#right_col {
	background-color: hsla(230, 100%, 75%, 0.7);
	position: fixed;
	top: 0;
	right: 0;
	width: 30pt;
	height: 100vh;
	text-align: center;
	font-size: 24pt;
	line-height: 30pt;
	margin: 0;
	padding-bottom: 30pt;
}

::selection {
	background: hsl(20, 100%, 20%);
	color: hsl(40, 100%, 80%);
}
::-moz-selection {
	background: hsl(20, 100%, 20%);
	color: hsl(40, 100%, 80%);
}
a:link {
	color: hsl(20, 100%, 50%);
}
a:visited {
	color: hsl(20, 100%, 50%);
}
a:hover, a:hover > em {
	color: white;
	background: hsl(120, 100%, 25%);
}

nav {
	text-align: right;
}

h1, h2, h3 {
	font-family: "筑紫B丸ゴシック", sans-serif;
}
h1 {
	font-size: x-large;
	text-align: center;
	border-bottom: 2px dotted;
}
h2 {
	font-size: large;
	text-align: center;
	border-bottom: 2px dotted;
}
h3 {
	font-size: medium;
	text-align: center; /*left;*/
	/*text-decoration: underline red;*/
	padding-left: 1em;
	margin-top: 40pt;
}
/*
h3:before {
	content: "🍎 ";
}
*/
code {
	font-family: Monaco, monospace;
	background-color: hsl(50, 80%, 90%);
	white-space: pre;
	padding-left: 1ex;
	padding-right: 1ex;
	text-indent: 0;
	display: inline-block;
}
code.block {
	display: block;
	overflow: auto;
	max-width: 90%;
}
code span.com, code.com {
	font-style: italic;
	color: hsl(20, 100%, 50%);
}
dt {
	font-family: "筑紫B丸ゴシック", sans-serif;
	text-decoration: underline hsl(20, 100%, 50%);
}
dt:before {
	content: "🍏 ";
}
p {
	text-indent: 1em;
}
em {
	background-color: hsl(50, 100%, 60%);
	font-style: normal;
}
em code {
	background-color: hsl(50, 100%, 60%);
}
