#left_col {
	background-color: hsla(90, 100%, 50%, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	width: 30pt;
	height: 100vh;
	text-align: center;
    font-size: 24pt;
    margin: 0;
}
#main {
	background-color: hsl(50, 100%, 80%);
	color: hsl(20, 100%, 20%);
	position: fixed;
	top: 0;
	left: 30pt;
	right: 30pt;
	/*width: auto;*/
	min-width: 10em;
	height: 100vh;
    margin: 0;
	padding-left: 1em;
	padding-right: 1em;
	font-family: "游明朝体", serif;
	overflow: auto;
}
#right_col {
	background-color: hsla(230, 100%, 75%, 0.7);
	position: fixed;
	top: 0;
    right: 0;
	width: 30pt;
	height: 100vh;
	text-align: center;
    font-size: 24pt;
    margin: 0;
}

::selection {
	background: hsl(20, 100%, 20%);
	color: hsl(40, 100%, 80%);
}
::-moz-selection {
	background: hsl(20, 100%, 20%);
	color: hsl(40, 100%, 80%);
}
a:link {
	color: hsl(300, 100%, 50%);
}
a:visited {
	color: hsl(300, 100%, 50%);
}
a:hover {
	color: white;
	background: hsl(300, 100%, 25%);
}

nav {
	text-align: right;
}

h1, h2, h3 {
	font-family: "筑紫B丸ゴシック", sans-serif;
}
h1 {
	font-size: x-large;
	text-align: center;
}
h2 {
	font-size: large;
	text-align: center;
}
h3 {
	font-size: medium;
	text-align: left;
}
code {
	font-family: Monaco, monospace;
	background-color: hsl(50, 80%, 90%);
	white-space: pre;
	display: inline-block;
}
dt {
	/*text-decoration: underline;*/
	/*font-weight: bold;*/
	/*font-style: italic; */
	font-family: "筑紫B丸ゴシック", sans-serif;
}
dt:before {
	content: "🍏 ";
}
