body {
  background: hsl(210, 100%, 20%);
  color: hsl(210, 100%, 80%);
  padding: 1em;
  font-family: "Palatino", "Times New Roman", "クレー", "游明朝体", serif;
}
body.setting {
  background: hsl(210, 100%, 25%);
  padding: 0;
}

:lang(ja) {
  font-family: "クレー", "游明朝体", serif;
}
:lang(zh), :lang(zh-Hans) {
  font-family: "Kaiti SC", "Libian SC", "STFangsong", serif;
}
:lang(zh-tw), :lang(zh-Hant) {
  font-family: "Kaiti TC", serif;
}
:lang(ru) {
  font-family: "PT Serif", "Times New Roman", serif;
}
:lang(ar) {
  font-family: "Al Nile", serif;
}

a:link, a:visited {
	color: hsl(210, 100%, 70%);
}
a:hover, .call_help:hover, .sw_setting:hover {
  background: hsl(130, 100%, 30%);
  color: white;
}
a.dict {
  text-decoration: none;
}

h1 {
  font-size: large;
  color: hsl(270, 100%, 80%);
  text-align: center;
}
div {
  margin-top: 12pt;
  margin-bottom: 12pt;
}
select {
  background: hsl(210, 80%, 80%);
  color: hsl(210, 100%, 20%);
}
table {
  border-collapse: collapse;
}
table.in {
  display: inline-block;
  vertical-align: top;
}
th, td {
  border: solid 2px hsl(210, 100%, 40%);
  text-align: center;
  padding: 4pt;
}
td.multi {
  text-align: left;
}
th {
  font-weight: bold;
  color: hsl(270, 100%, 80%);
}


p.count {
  margin-bottom: 0;
}
p.out {
  white-space: pre-wrap;
  line-height: 150%;
  padding-left: 1em;
  padding-right: 1em;
  border: solid 1px hsl(210, 100%, 80%);
  margin-top: 0;
  margin-left: 2em;
  margin-right: 2em;
}
@media screen {
  p.out {
    max-height: 20em;
    overflow: auto;
  }
}
p.box {
  border: solid 1px hsl(270, 100%, 80%);
  padding: 4pt;
  margin-left: 2em;
  margin-right: 2em;
}
.right {
  text-align: right;
}
em {
  color: hsl(20, 100%, 70%);
  font-style: normal;
}
.tag {
  color: hsl(160, 100%, 80%);
}
label, input[type='checkbox'] {
  cursor: pointer;
}
td.multi label {
  padding-right: 1em;
}
input[type='checkbox'] {
  margin-right: 1ex;
}
span.gr {
  white-space: nowrap;
}

/* The default user interface (UI) language is English. */ 
.ui:lang(ja) {
  display: none;
}
.ui:lang(en) {
  display: inline;
}
p.ui:lang(en) {
  display: block;
}
p.ui:lang(ja) {
  display: none;
}

.toggle {
  padding: 6pt;
  border: solid 1px hsl(30, 100%, 40%);
}
.toggle:hover {
  background: hsl(30, 100%, 13%);
}

div.help {
  background: hsla(130, 100%, 15%, 1.0);
  border: 4px dotted hsl(130, 100%, 50%);
  border-radius: 40px;
  color: hsl(130, 80%, 80%);
  padding-left: 2em;
  padding-right: 2em;
  display: block;
  position: fixed;
  top: 2em;
  left: 2em;
  right: 2em;
  bottom: 2em;
  overflow: auto;
}

#filter_setting {
  margin-left: 0;
  width: 96vw;
  min-height: 50vh;
  padding: 0;
  border: none;
}

